In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [2]:
train = pd.read_csv(r'E:\INCEPTEZ\Training\Basics_python\Black_friday_linear_regression\train.csv')

In [3]:
train.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [4]:
test = pd.read_csv(r'E:\INCEPTEZ\Training\Basics_python\Black_friday_linear_regression\test.csv')

In [5]:
test.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7,B,2,1,1,11.0,NaN
1,1000009,P00113442,M,26-35,17,C,0,0,3,5.0,NaN
2,1000010,P00288442,F,36-45,1,B,4+,1,5,14.0,NaN
3,1000010,P00145342,F,36-45,1,B,4+,1,4,9.0,NaN
4,1000011,P00053842,F,26-35,1,C,1,0,4,5.0,12.0

In [6]:
sample_submission = pd.read_csv(r'E:\INCEPTEZ\Training\Basics_python\Black_friday_linear_regression\sample_submission_V9Inaty.csv')

In [7]:
sample_submission.head()

   Purchase  User_ID Product_ID
0       100  1000004  P00128942
1       100  1000009  P00113442
2       100  1000010  P00288442
3       100  1000010  P00145342
4       100  1000011  P00053842

In [8]:
train.shape

(550068, 12)

In [9]:
test.shape

(233599, 11)

In [10]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  object
 2   Gender                      550068 non-null  object
 3   Age                         550068 non-null  object
 4   Occupation                  550068 non-null  int64
 5   City_Category               550068 non-null  object
 6   Stay_In_Current_City_Years  550068 non-null  object
 7   Marital_Status              550068 non-null  int64
 8   Product_Category_1          550068 non-null  int64
 9   Product_Category_2          376430 non-null  float64
 10  Product_Category_3          166821 non-null  float64
 11  Purchase                    550068 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 50.4+ MB

In [11]:
train.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
User_ID,550068.0,NaN,NaN,NaN,1003028.842401,1727.591586,1000001.0,1001516.0,1003077.0,1004478.0,1006040.0
Product_ID,550068,3631,P00265242,1880,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gender,550068,2,M,414259,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,550068,7,26-35,219587,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Occupation,550068.0,NaN,NaN,NaN,8.076707,6.52266,0.0,2.0,7.0,14.0,20.0
City_Category,550068,3,B,231173,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Stay_In_Current_City_Years,550068,5,1,193821,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marital_Status,550068.0,NaN,NaN,NaN,0.409653,0.49177,0.0,0.0,0.0,1.0,1.0
Product_Category_1,550068.0,NaN,NaN,NaN,5.40427,3.936211,1.0,1.0,5.0,8.0,20.0
Product_Category_2,376430.0,NaN,NaN,NaN,9.842329,5.08659,2.0,5.0,9.0,15.0,18.0
Product_Category_3,166821.0,NaN,NaN,NaN,12.668243,4.125338,3.0,9.0,14.0,16.0,18.0
Purchase,550068.0,NaN,NaN,NaN,9263.968713,5023.065394,12.0,5823.0,8047.0,12054.0,23961.0

###  Merging train and test data

In [12]:
train['source']='train'
test['source']='test'

In [13]:
train.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,source
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370,train
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200,train
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422,train
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057,train
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969,train

### Merging using Concat function

In [14]:
data = pd.concat([train,test])

In [15]:
data.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,source
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370.0,train
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200.0,train
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422.0,train
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057.0,train
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969.0,train

###  check for Null vALUES

In [16]:
data.isna().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            245982
Product_Category_3            545809
Purchase                      233599
source                             0
dtype: int64

### One hot encoding the columns

In [17]:
data = pd.get_dummies(data, columns=['Stay_In_Current_City_Years','Occupation','Age','Stay_In_Current_City_Years','Gender','Product_Category_2','Product_Category_3','Product_Category_1','City_Category'])

In [18]:
data.head()

,User_ID,Product_ID,Marital_Status,Purchase,source,Stay_In_Current_City_Years_0,Stay_In_Current_City_Years_1,Stay_In_Current_City_Years_2,Stay_In_Current_City_Years_3,Stay_In_Current_City_Years_4+,...,Product_Category_1_14,Product_Category_1_15,Product_Category_1_16,Product_Category_1_17,Product_Category_1_18,Product_Category_1_19,Product_Category_1_20,City_Category_A,City_Category_B,City_Category_C
0,1000001,P00069042,0,8370.0,train,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1000001,P00248942,0,15200.0,train,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,1000001,P00087842,0,1422.0,train,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,1000001,P00085442,0,1057.0,train,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
4,1000002,P00285442,0,7969.0,train,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1

### fitting the columns as an input

###  prepocessed data

In [19]:
train_prepocessed = data[data['source']=='train'].drop(columns='source')

In [20]:
test_prepocessed = data[data['source']=='test'].drop(columns=['source','Purchase'])

In [21]:
train_prepocessed.head()

,User_ID,Product_ID,Marital_Status,Purchase,Stay_In_Current_City_Years_0,Stay_In_Current_City_Years_1,Stay_In_Current_City_Years_2,Stay_In_Current_City_Years_3,Stay_In_Current_City_Years_4+,Occupation_0,...,Product_Category_1_14,Product_Category_1_15,Product_Category_1_16,Product_Category_1_17,Product_Category_1_18,Product_Category_1_19,Product_Category_1_20,City_Category_A,City_Category_B,City_Category_C
0,1000001,P00069042,0,8370.0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1000001,P00248942,0,15200.0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,1000001,P00087842,0,1422.0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,1000001,P00085442,0,1057.0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,1000002,P00285442,0,7969.0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1

In [22]:
test_prepocessed.head()

,User_ID,Product_ID,Marital_Status,Stay_In_Current_City_Years_0,Stay_In_Current_City_Years_1,Stay_In_Current_City_Years_2,Stay_In_Current_City_Years_3,Stay_In_Current_City_Years_4+,Occupation_0,Occupation_1,...,Product_Category_1_14,Product_Category_1_15,Product_Category_1_16,Product_Category_1_17,Product_Category_1_18,Product_Category_1_19,Product_Category_1_20,City_Category_A,City_Category_B,City_Category_C
0,1000004,P00128942,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1000009,P00113442,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,1000010,P00288442,1,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,1,0
3,1000010,P00145342,1,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,1,0
4,1000011,P00053842,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1

In [23]:
train_prepocessed.to_csv('BFRIDAY_train_prepocessed.csv', index=False)

In [24]:
test_prepocessed.to_csv('BFRIDAY_test_prepocessed.csv', index=False)

###  Since we are done with  the Prepocessing , proceed with the Modelling part

In [25]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [26]:
train = pd.read_csv(r'E:\INCEPTEZ\Training\Basics_python\BFRIDAY_train_prepocessed.csv')

In [27]:
test = pd.read_csv(r'E:\INCEPTEZ\Training\Basics_python\BFRIDAY_test_prepocessed.csv')

In [28]:
x = train.drop(columns=['Purchase','User_ID','Product_ID'])
y = train['Purchase']

In [29]:
x.head()

,Marital_Status,Stay_In_Current_City_Years_0,Stay_In_Current_City_Years_1,Stay_In_Current_City_Years_2,Stay_In_Current_City_Years_3,Stay_In_Current_City_Years_4+,Occupation_0,Occupation_1,Occupation_2,Occupation_3,...,Product_Category_1_14,Product_Category_1_15,Product_Category_1_16,Product_Category_1_17,Product_Category_1_18,Product_Category_1_19,Product_Category_1_20,City_Category_A,City_Category_B,City_Category_C
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [30]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=1)

In [31]:
model =LinearRegression()

In [32]:
model.fit(x_train,y_train)

LinearRegression()

In [33]:
model.coef_

array([-6.39393211e+01,  8.21495847e+13,  9.95951258e+13, -2.12752213e+14,
        9.79024449e+13, -6.28443546e+13, -2.87893143e+14, -2.87893143e+14,
       -2.87893143e+14, -2.87893143e+14, -2.87893143e+14, -2.87893143e+14,
       -2.87893143e+14, -2.87893143e+14, -2.87893143e+14, -2.87893143e+14,
       -2.87893143e+14, -2.87893143e+14, -2.87893143e+14, -2.87893143e+14,
       -2.87893143e+14, -2.87893143e+14, -2.87893143e+14, -2.87893143e+14,
       -2.87893143e+14, -2.87893143e+14, -2.87893143e+14, -3.73323419e+14,
       -3.73323419e+14, -3.73323419e+14, -3.73323419e+14, -3.73323419e+14,
       -3.73323419e+14, -3.73323419e+14, -3.70070353e+15, -3.71814907e+15,
       -3.40580173e+15, -3.71645639e+15, -3.55570959e+15, -1.56626527e+15,
       -1.56626527e+15,  1.27406250e+02,  1.55294934e+03, -1.60895312e+03,
       -5.79095703e+02,  1.18800781e+02,  7.48323059e+02,  3.35023438e+02,
       -1.05526855e+02,  1.48608398e+03, -2.26755859e+02, -3.92780273e+02,
       -1.01613281e+02, -1.31281250e+02, -1.35531250e+02,  5.76894531e+01,
        5.92486328e+02,  5.62166260e+02,  3.88970215e+02, -3.65527686e+03,
        5.38799805e+02,  7.09941406e+01,  1.64574609e+03,  3.28424805e+02,
       -9.43793945e+02, -6.07582031e+02,  3.54638184e+02, -7.74553711e+02,
        9.59584961e+01, -4.16078125e+02,  6.47617188e+01,  1.01803906e+03,
        1.48607422e+02,  5.11761813e+14,  5.11761813e+14,  5.11761813e+14,
        5.11761813e+14,  5.11761813e+14,  5.11761813e+14,  5.11761813e+14,
        5.11761813e+14,  5.11761813e+14,  5.11761813e+14,  5.11761813e+14,
        5.11761813e+14,  5.11761813e+14,  5.11761813e+14,  5.11761813e+14,
        5.11761813e+14,  5.11761813e+14,  5.11761813e+14,  5.11761813e+14,
        5.11761813e+14,  2.98876768e+15,  2.98876768e+15,  2.98876768e+15])

In [34]:
model.intercept_

2345506288194798.0

In [35]:
x_train_pred = model.predict(x_train)
x_test_pred = model.predict(x_test)

In [36]:
x_train_rmse = np.sqrt(mean_squared_error(y_train,x_train_pred))
x_test_rmse = np.sqrt(mean_squared_error(y_test,x_test_pred))

In [37]:
print('x_train_rmse is',x_train_rmse )
print('x_test_rmse is',x_test_rmse )

x_train_rmse is 2981.5137905949227
x_test_rmse is 2977.402842265933

In [38]:
x_train_r2 = r2_score(y_train,x_train_pred)
x_test_r2 =r2_score(y_test,x_test_pred)

In [39]:
print('x_train_r2 is',x_train_r2 )
print('x_test_r2 is',x_test_r2 )

x_train_r2 is 0.6473528580209358
x_test_r2 is 0.6499508396445257

In [40]:
#actual data from hackathon
test_pred = model.predict(test.drop(columns=['User_ID','Product_ID']))

In [41]:
test_pred_modified= np.where(test_pred<0, 0, test_pred)

In [42]:
test['Purchase'] = test_pred_modified

In [43]:
Output = test[['Purchase','User_ID','Product_ID']]

In [44]:
Output.to_csv('BF_linear_Regression_80_percent_data.csv', index = False)

###  Using 100 percent train data

In [45]:
def model_predict(model,x_train,y_train ,test,filename):
    train_pred = model.predict(x_train)
    test_pred = model.predict(test.drop(columns=['Purchase','User_ID','Product_ID']))
    train_rmse = np.sqrt(mean_squared_error(y_train,train_pred))
    print('train_rmse is',train_rmse )
    train_r2 = r2_score(y_train,train_pred)
    print('train_r2 is',train_r2 )
    test_pred_modified= np.where(test_pred<0, 0, test_pred)
    test['Purchase'] = test_pred_modified
    Output = test[['Purchase','User_ID','Product_ID']]
    Output.to_csv(filename, index = False)

In [46]:
model = LinearRegression()
model.fit(x,y)

LinearRegression()

In [47]:
model_predict(model,x,y,test,'Full_Result_BLACKFRIDAY.csv')

train_rmse is 2980.651150212593
train_r2 is 0.6478842711583168

## KNNRegressor

In [62]:
from sklearn.neighbors import KNeighborsRegressor

In [68]:
def train_and_evaluate(model,x_train,y_train,x_test,y_test):
    '''
    This function is to fit the machine learning model and evaluate the R2 score for train and test data
    
    INPUT:
    model - Machine Learning model
    X_train - Training data 
    y_train - Training output values
    X_test - Testing data
    y_test - Testing output values
    
    OUTPUT:
    model - Trained Machine Learning  model
    '''
    model.fit(x_train,y_train)
    y_pred_train = model.predict(x_train)
    y_pred_test = model.predict(x_test)
    
    # Score method gives the R2 score actually, so we can directly check the R2 score
    print("Train R-2 Score -> {}".format(r2_score(y_train, y_pred_train)))
    print("Test R-2 Score -> {}".format(r2_score(y_test,y_pred_test)))
    print()
    print("=============================================")
    print()
    print("Train RMSE  -> {}".format(sqrt(mean_squared_error(y_train, y_pred_train))))
    print("Test RMSE  -> {}".format(sqrt(mean_squared_error(y_test,y_pred_test))))
    return model

In [69]:
knnreg = KNeighborsRegressor(n_neighbors = 6)
train_and_evaluate(knnreg,x_train,y_train,x_test,y_test)

KeyboardInterrupt:

###  find the optimal point using elbow method

In [56]:
from tqdm import tqdm
res_rmse = []
for i in tqdm(range(1,50)):
    model =KNeighborsRegressor(n_neighbors=i)
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    x_test_rmse = np.sqrt(mean_squared_error(y_test, y_pred))
    res_rmse.append(x_test_rmse)

  0%|                                                                                                                                           | 0/49 [00:15<?, ?it/s]

KeyboardInterrupt:

###  Polynomial features

In [57]:
from sklearn.preprocessing import PolynomialFeatures

In [59]:
poly = PolynomialFeatures(degree =2, include_bias=False)
poly_train_x = poly.fit_transform(x)
poly_test_x = poly.fit_transform(test.drop(columns=['Purchase','User_ID','Product_ID']))

MemoryError: Unable to allocate 19.5 GiB for an array with shape (550068, 4752) and data type float64